/********** Template CSS **********/
:root {
	-primary: #0ee951;
	-secondary: #212d37;
	-light: #00dabf; 
	-dark: #1c262f; 
	-gradient: linear-gradient(to right, #0ee951, #00dabf);
}

.btn2 {
	color: white;
	border-radius: 0;
	border-width: 1px;
	padding: 5px 15px;
	border-image-slice: 1;
	background-image: none;
	background: transparent;
	border-image-source: linear-gradient(to right, #0ee951, #00dabf);
	box-shadow: 2px 2px 2px 2px #0ee951;
}

.btn2:hover {
	color: white;
	box-shadow: none;
	border-radius: 0;
	padding: 5px 15px;
	transform: translate(5px, 5px);
}

small {
	font-family: inherit;
	font-size: 4px;
}

/*** Button ***/
.btn {
	transition: .5s;
	background-color: #0ee951;
}

.btn-square {
	width: 38px;
	height: 38px;
}

.btn-sm-square {
	width: 32px;
	height: 32px;
}

.btn-lg-square {
	width: 48px;
	height: 48px;
}

.btn-square, .btn-sm-square, .btn-lg-square {
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	border-radius: 50px;
}

/*** Layout ***/
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 250px;
	height: 100vh;
	overflow-y: auto;
	background: #212d37;
	transition: 0.5s;
	z-index: 999;
}

.content {
	margin-left: 250px;
	min-height: 100vh;
	background: #1c262f;
	transition: 0.5s;
}

@media ( min-width : 992px) {
	.sidebar {
		margin-left: 0;
	}
	.sidebar.open {
		margin-left: -250px;
	}
	.content {
		width: calc(100% - 250px);
	}
	.content.open {
		width: 100%;
		margin-left: 0;
	}
}

@media ( max-width : 991.98px) {
	.sidebar {
		margin-left: -250px;
	}
	.sidebar.open {
		margin-left: 0;
	}
	.content {
		width: 100%;
		margin-left: 0;
	}
}

/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
	padding: 7px 20px;
	color: #00dabf;
	font-weight: 500;
	border-left: 3px solid #212d37;
	border-radius: 0 30px 30px 0;
	outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover, .sidebar .navbar .navbar-nav .nav-link.active
	{
	color: #0ee951;
	background: #1c262f;
	border-color: #0ee951;
}

.sidebar .navbar .navbar-nav .nav-link i {
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #1c262f;
	border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i, .sidebar .navbar .navbar-nav .nav-link.active i
	{
	background: #212d37;
}

.sidebar .navbar .dropdown-toggle::after {
	position: absolute;
	top: 15px;
	right: 15px;
	border: none;
	content: "\f107";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
	transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
	padding-left: 25px;
	border-radius: 0 30px 30px 0;
	color: #00dabf;
}

.sidebar .navbar .dropdown-item:hover, .sidebar .navbar .dropdown-item.active
	{
	background: #1c262f;
}

.content .navbar .navbar-nav .nav-link {
	margin-left: 25px;
	padding: 12px 0;
	color: #00dabf;
	outline: none;
}

.content .navbar .navbar-nav .nav-link:hover, .content .navbar .navbar-nav .nav-link.active
	{
	color: #0ee951;
}

.content .navbar .sidebar-toggler, .content .navbar .navbar-nav .nav-link i
	{
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #1c262f;
	border-radius: 40px;
}

.content .navbar .dropdown-item {
	color: #00dabf;
}

.content .navbar .dropdown-item:hover, .content .navbar .dropdown-item.active
	{
	background: #1c262f;
}

.content .navbar .dropdown-toggle::after {
	margin-left: 6px;
	vertical-align: middle;
	border: none;
	content: "\f107";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
	transform: rotate(-180deg);
}

@media ( max-width : 575.98px) {
	.content .navbar .navbar-nav .nav-link {
		margin-left: 15px;
	}

}
